-i https://pypi.org/simple/
appdirs==1.4.4
asgiref==3.2.7
cfgv==3.1.0
distlib==0.3.0
django-crispy-forms==1.9.0
django==3.0.7
filelock==3.0.12
identify==1.4.19
nodeenv==1.4.0
pillow==7.1.1
pre-commit==2.3.0
pytz==2020.1
pyyaml==5.3.1
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
virtualenv==20.0.21
